<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="/style/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{{title}}}
        <link rel="shortcut icon" href="/img/" type="image/x-icon">
    </head>
<body>
    <header>
        <p>se<span class="colorful">7</span>en</p>
        <nav>
            <a href="/">Posts</a>
            {{#if session.userid}}
                <a href="/posts/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {{/if}}
        </nav>
    </header>
    <main>
        {{#if messages.message}}
            <div class="flash">
                {{messages.message}}
            </div>
        {{/if}}
        {{{body}}}
    </main>
    <footer>
        <p>made by ph &copy; - with some lines and 💖</p>
        <nav>
            <a href="/">Posts</a>
            {{#if session.userid}}
                <a href="/posts/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {{/if}}
        </nav>
    </footer>
</body>
</html>