<title>se7en</title>
<h1 class="title">se<span class="colorful">7</span>en</h1>
<form class="form" action="/" method="GET">
  <fieldset>
        <legend>Search</legend>
        <textarea name="search" placeholder="Looking for something?" required maxlength="255"></textarea>
    </fieldset>
    <button>Search</button>
</form>
<div class="row">
  <p class="desc">Order by:</p>
  <form action="/" method="GET">
    <input type="hidden" name="search" value="{{this.search}}">
    <input type="hidden" name="order" value="new">
    <button><i class="fa-solid fa-arrow-up"></i> Newest posts</button>
  </form>
  <form action="/" method="GET">
    <input type="hidden" name="search" value="{{this.search}}">
    <input type="hidden" name="order" value="old">
    <button><i class="fa-solid fa-arrow-down"></i> Oldest posts</button>
  </form>
  <a href="/">Clear filters</a>
</div>
{{#if search}}
<h1 class="title">Seach posts</h1>
{{else}}
<h1 class="title">Users posts</h1>
{{/if}}
<ul class="post-home">
  {{#each posts}}
    <li>
      <p class="home-title">{{this.title}}</p>
      <div class="home-row">
        <p class="home-owner">by <span class="colorful">{{this.User.name}}</span></p>
        <p class="home-date">at <span class="colorful">{{this.createdAt}}</span></p>
      </div>
    </li>
  {{/each}}
</ul>